* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:  "Open Sans", sans-serif;
    font-style: italic;
    background-color: #2f2d30; 
}

.wrapper {
    width: 90vw;
    height: 93vh;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
}

.container-imageSlader {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.container-img_1, 
.container-img_2, 
.container-img_3,
.container-img_4 {
    height: 100%;  
    display: none;
    opacity: 0;
    animation-name: slider;
    animation-duration: 2s;
    transition:3s;
    user-select: none;
    outline: none;
    /* box-shadow: 0px 10px 30px rgb(4 2 27);   */
}

@keyframes slider {
    from { 
        opacity: 0;
        margin-left: -1em;
        margin-top: -1em;
    }
    to {
        opacity: 1;
        margin-left: 0;
        margin-top: 0;
    }
}

.container-imageSlader img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-controlers {
    width: 70%;
    /* height: 15%; */
    display: flex;
    justify-content: space-between;
}

.controllers {
    display: flex;
}

.controllers a span {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-color: rgb(15, 70, 107);
    border-radius: 50%;
    transition: .5s ease-in-out;
    /* margin: 0.3em; */
}

.link {
    text-decoration: none;
    user-select: none;
    outline: none; 
    cursor: pointer;
    padding: 0.5em;
}

p {
    font-size: 1em;
    color: rgb(234, 236, 237);
    display: none;    
    transition: 2s ease-in-out;
    animation-name: text_meme;
    animation-duration: 2s;
    user-select: none;
    outline: none;
}

@keyframes text_meme {
    from {
        opacity: 0;
        margin-left: -3em;
    }
    to {    
        opacity: 1;
        margin-left:0;
    }
}
.textMeme_1 {
    display: inline-block;
}
.link:hover span{
    background-color: rgb(234, 236, 237);
}

.container-imageSlader > .container-img_1 {
    display: block;
    opacity: 1;
}

#imag_1:target ~ .container-imageSlader .container-img_1,
#imag_2:target ~ .container-imageSlader .container-img_2,
#imag_3:target ~ .container-imageSlader .container-img_3,
#imag_4:target ~ .container-imageSlader .container-img_4 {
    display: block;
    opacity: 1;
}

#imag_2:target ~ .container-imageSlader .container-img_1,
#imag_3:target ~ .container-imageSlader .container-img_1,
#imag_4:target ~ .container-imageSlader .container-img_1 {
    display: none;
    opacity: 0;
}
#imag_1:target ~ .container-controlers .textSlader .textMeme_1,
#imag_2:target ~ .container-controlers .textSlader .textMeme_2,
#imag_3:target ~ .container-controlers .textSlader .textMeme_3,
#imag_4:target ~  .container-controlers .textSlader .textMeme_4{
    display: inline-block;
}

#imag_2:target ~ .container-controlers .textSlader .textMeme_1,
#imag_3:target ~ .container-controlers .textSlader .textMeme_1,
#imag_4:target ~ .container-controlers .textSlader .textMeme_1{
    display: none;
}

.link[href="#imag_1"] span {
    background-color: #2f2d30;
    border: 3px solid rgb(15, 70, 107);
}

#imag_1:target ~ .container-controlers .controllers .link[href="#imag_1"] span,
#imag_2:target ~ .container-controlers .controllers .link[href="#imag_2"] span,
#imag_3:target ~ .container-controlers .controllers .link[href="#imag_3"] span,
#imag_4:target ~ .container-controlers .controllers .link[href="#imag_4"] span{
    background-color: #2f2d30;
    border: 3px solid rgb(15, 70, 107);
}

#imag_2:target ~ .container-controlers .controllers .link[href="#imag_1"] span,
#imag_3:target ~ .container-controlers .controllers .link[href="#imag_1"] span,
#imag_4:target ~ .container-controlers .controllers .link[href="#imag_1"] span {
    border: none;
    background-color: rgb(15, 70, 107);
}

#imag_1:target ~ .container-controlers .controllers .link[href="#imag_1"]:hover span,
#imag_2:target ~ .container-controlers .controllers .link[href="#imag_2"]:hover span,
#imag_3:target ~ .container-controlers .controllers .link[href="#imag_3"]:hover span,
#imag_4:target ~ .container-controlers .controllers .link[href="#imag_4"]:hover span {
    border: 3px solid rgb(234, 236, 237);
}

#imag_2:target ~ .container-controlers .controllers .link[href="#imag_1"]:hover span,
#imag_3:target ~ .container-controlers .controllers .link[href="#imag_1"]:hover span,
#imag_4:target ~ .container-controlers .controllers .link[href="#imag_1"]:hover span {
    background-color: rgb(234, 236, 237);
}

@media screen and (max-width: 64rem ) { 
    /* 1024px */
    .wrapper{
        justify-content: flex-start;
        height: 75vh;
    }
}

@media screen and (max-width: 48rem) {
    /* 768px */
    p {
        font-size: 0.9em;
    }
    .container-controlers {
        flex-direction: column;
    }
    .controllers {
        order: 1;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
    }
    .textSlader {
        order: 2;
    }
    .container-imageSlader {
        height: auto;
    }
}